* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.main {
    background-color: rgb(133, 133, 133);
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 8fr;
    justify-items: center;
    align-items: center;
}

.header {
    font-size: 3rem;
}

.gameboard {
    display: grid;
    width: 30%;
    height: 60%;
    /*Setting both rows/columns to fr units keeps the cells from expanding when content is added*/
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
}

.move {
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
    font-size: 6.5rem;
    text-align: center;
    border: 1px solid rebeccapurple;
}